# Week 5 Batch

## First Look at Spark/PySpark

In [1]:
import pyspark

pyspark.__version__

'3.3.2'

In [2]:
import pandas as pd

pd.__version__

'2.2.3'

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types

In [4]:
spark = SparkSession.builder.master("local[*]").appName("test").getOrCreate()

In [5]:
df = spark.read.option("header", "true").parquet("yellow_tripdata_2024-10.parquet")

In [6]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       2| 2024-10-01 07:30:44|  2024-10-01 07:48:26|              1|          3.0|         1|                 N|         162|         246|           1|       18.4|  1.0|    0.5|       1.5|         0.0|                  1.0|        24.9|                 2.5|        0.0|
|       1| 2024-10-01 07:12:20|  2024-10-01 07:25:25|              1|          2.2|         1|                 N|          48|         236|           1|       14.2|  3.5|    0.5|       3.8|         0.0|                  1.0|        23.0|                 2.5|        0.0|
|       1| 2024-10-01 07:04:46|  2024-10-01 07:13:52|              1|          2.7|         1|                 N|         142|          24|           1|       13.5|  3.5|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       1| 2024-10-01 07:12:10|  2024-10-01 07:23:01|              1|          3.1|         1|                 N|         233|          75|           1|       14.2|  3.5|    0.5|       2.0|         0.0|                  1.0|        21.2|                 2.5|        0.0|
|       1| 2024-10-01 07:30:22|  2024-10-01 07:30:39|              1|          0.0|         1|                 N|         262|         262|           3|        3.0|  3.5|    0.5|       0.0|         0.0|                  1.0|         8.0|                 2.5|        0.0|
|       2| 2024-10-01 07:31:20|  2024-10-01 07:36:00|              2|         0.97|         1|                 N|         137|         137|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|
|       1| 2024-10-01 07:42:57|  2024-10-01 07:49:01|              1|          1.3|         1|                 N|         142|          48|           1|        7.9|  3.5|    0.5|      2.55|         0.0|                  1.0|       15.45|                 2.5|        0.0|
|       1| 2024-10-01 07:59:55|  2024-10-01 08:02:24|              1|          0.5|         1|                 N|         230|         161|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       1| 2024-10-01 07:00:47|  2024-10-01 07:04:22|              0|          1.1|         1|                 N|         142|         237|           1|        7.2|  3.5|    0.5|       3.0|         0.0|                  1.0|        15.2|                 2.5|        0.0|
|       1| 2024-10-01 07:17:36|  2024-10-01 07:26:22|              1|          2.2|         1|                 N|         162|         145|           1|       11.4|  3.5|    0.5|       3.3|         0.0|                  1.0|        19.7|                 2.5|        0.0|
|       1| 2024-10-01 07:49:00|  2024-10-01 07:52:20|              1|          0.6|         1|                 N|         229|         162|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|
|       2| 2024-10-01 07:07:26|  2024-10-01 07:13:20|              1|          0.9|         1|                 N|         162|         162|           1|        7.9|  1.0|    0.5|      3.87|         0.0|                  1.0|       16.77|                 2.5|        0.0|
|       2| 2024-10-01 07:17:11|  2024-10-01 07:25:00|              1|         1.33|         1|                 N|         162|         230|           1|        9.3|  1.0|    0.5|       2.0|         0.0|                  1.0|        16.3|                 2.5|        0.0|
|       2| 2024-10-01 07:00:34|  2024-10-01 07:05:13|              1|         1.79|         1|                 N|         211|         234|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|
|       2| 2024-10-01 06:58:40|  2024-10-01 07:20:26|              1|         5.16|         1|                 N|         142|           7|           1|       24.7|  1.0|    0.5|       0.0|         0.0|                  1.0|        29.7|                 2.5|        0.0|
|       1| 2024-10-01 07:55:29|  2024-10-01 08:42:35|              1|         11.3|        99|                 N|         161|         197|           1|       39.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       47.94|                 0.0|        0.0|
|       1| 2024-10-01 07:08:59|  2024-10-01 07:40:58|              1|         20.6|         1|                 N|         132|         243|           2|       76.5| 2.75|    0.5|       0.0|        6.94|                  1.0|       87.69|                 0.0|       1.75|
|       2| 2024-10-01 07:18:38|  2024-10-01 07:36:47|              2|         7.42|         1|                 N|         239|         247|           4|      -33.1| -1.0|   -0.5|       0.0|         0.0|                 -1.0|       -38.1|                -2.5|        0.0|
|       2| 2024-10-01 07:18:38|  2024-10-01 07:36:47|              2|         7.42|         1|                 N|         239|         247|           4|       33.1|  1.0|    0.5|       0.0|         0.0|                  1.0|        38.1|                 2.5|        0.0|
|       2| 2024-10-01 07:39:33|  2024-10-01 07:53:59|              1|         4.49|         1|                 N|         247|          60|           2|       21.9|  1.0|    0.5|       0.0|         0.0|                  1.0|        24.4|                 0.0|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [28]:
df.head(5)

[Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 7, 30, 44), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 7, 48, 26), passenger_count=1, trip_distance=3.0, RatecodeID=1, store_and_fwd_flag='N', PULocationID=162, DOLocationID=246, payment_type=1, fare_amount=18.4, extra=1.0, mta_tax=0.5, tip_amount=1.5, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=24.9, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 7, 12, 20), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 7, 25, 25), passenger_count=1, trip_distance=2.2, RatecodeID=1, store_and_fwd_flag='N', PULocationID=48, DOLocationID=236, payment_type=1, fare_amount=14.2, extra=3.5, mta_tax=0.5, tip_amount=3.8, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=23.0, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 7, 4, 46), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 7, 13, 52), passenger_count=1, trip_distance=2.7, RatecodeID=1, store_and_fwd_flag='N', PULocationID=142, DOLocationID=24, payment_type=1, fare_amount=13.5, extra=3.5, mta_tax=0.5, tip_amount=3.7, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=22.2, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 7, 12, 10), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 7, 23, 1), passenger_count=1, trip_distance=3.1, RatecodeID=1, store_and_fwd_flag='N', PULocationID=233, DOLocationID=75, payment_type=1, fare_amount=14.2, extra=3.5, mta_tax=0.5, tip_amount=2.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=21.2, congestion_surcharge=2.5, Airport_fee=0.0),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2024, 10, 1, 7, 30, 22), tpep_dropoff_datetime=datetime.datetime(2024, 10, 1, 7, 30, 39), passenger_count=1, trip_distance=0.0, RatecodeID=1, store_and_fwd_flag='N', PULocationID=262, DOLocationID=262, payment_type=3, fare_amount=3.0, extra=3.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=1.0, total_amount=8.0, congestion_surcharge=2.5, Airport_fee=0.0)]

In [29]:
for i in df.schema:
    print(i)

StructField('VendorID', IntegerType(), True)
StructField('tpep_pickup_datetime', TimestampType(), True)
StructField('tpep_dropoff_datetime', TimestampType(), True)
StructField('passenger_count', LongType(), True)
StructField('trip_distance', DoubleType(), True)
StructField('RatecodeID', LongType(), True)
StructField('store_and_fwd_flag', StringType(), True)
StructField('PULocationID', IntegerType(), True)
StructField('DOLocationID', IntegerType(), True)
StructField('payment_type', LongType(), True)
StructField('fare_amount', DoubleType(), True)
StructField('extra', DoubleType(), True)
StructField('mta_tax', DoubleType(), True)
StructField('tip_amount', DoubleType(), True)
StructField('tolls_amount', DoubleType(), True)
StructField('improvement_surcharge', DoubleType(), True)
StructField('total_amount', DoubleType(), True)
StructField('congestion_surcharge', DoubleType(), True)
StructField('Airport_fee', DoubleType(), True)

In [34]:
df = df.repartition(4)

In [36]:
df.write.parquet("yellow_tripdata/2024/10/", mode="overwrite")

## Spark DataFrame

In [7]:
df = spark.read.parquet("yellow_tripdata/2024/10/")
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2024-10-07 23:40:43|  2024-10-08 01:10:56|              1|         14.8|        99|                 N|         127|         225|           1|       47.5|  0.0|    0.5|       0.0|        6.94|                  0.0|       54.94|                 0.0|        0.0|
|       2| 2024-10-04 21:17:41|  2024-10-04 21:26:47|              1|          1.1|         1|                 N|         113|         211|           1|        9.3|  0.0|    0.5|      2.66|         0.0|                  1.0|       15.96|                 2.5|        0.0|
|       2| 2024-10-01 18:17:28|  2024-10-01 18:32:18|              1|         4.63|         1|                 N|         231|         170|           1|       21.9|  0.0|    0.5|      5.18|         0.0|                  1.0|       31.08|                 2.5|        0.0|
|       1| 2024-10-09 00:12:07|  2024-10-09 00:35:56|              1|          2.4|         1|                 N|         236|         100|           1|       19.8|  5.0|    0.5|      5.25|         0.0|                  1.0|       31.55|                 2.5|        0.0|
|       1| 2024-10-01 22:37:08|  2024-10-01 22:54:23|              1|          2.1|         1|                 N|         237|          75|           1|       16.3|  2.5|    0.5|      4.05|         0.0|                  1.0|       24.35|                 2.5|        0.0|
|       1| 2024-10-09 17:14:04|  2024-10-09 17:28:13|              1|          1.7|         1|                 N|         161|         234|           1|       12.8|  2.5|    0.5|      3.35|         0.0|                  1.0|       20.15|                 2.5|        0.0|
|       2| 2024-10-05 00:08:38|  2024-10-05 01:03:10|              1|        17.42|         1|                 N|         132|          17|           1|       75.1|  2.5|    0.5|     19.77|         0.0|                  1.0|      100.62|                 0.0|       1.75|
|       2| 2024-10-05 08:27:22|  2024-10-05 08:40:37|              1|         1.88|         1|                 N|         148|         137|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|
|       2| 2024-10-06 06:50:45|  2024-10-06 07:00:32|              1|         1.06|         1|                 N|          79|         211|           1|       10.0|  1.0|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|
|       2| 2024-10-02 21:31:14|  2024-10-02 21:45:59|              1|         2.88|         1|                 N|         231|         246|           2|       17.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        21.0|                 2.5|        0.0|
|       2| 2024-10-10 15:25:53|  2024-10-10 15:27:59|              1|          0.4|         1|                 N|         237|         237|           1|        4.4|  0.0|    0.5|       2.5|         0.0|                  1.0|        10.9|                 2.5|        0.0|
|       2| 2024-10-05 06:07:32|  2024-10-05 06:15:38|              1|         0.94|         1|                 N|         142|          48|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|
|       2| 2024-10-05 00:00:04|  2024-10-05 00:07:54|              1|         0.85|         1|                 N|         170|         137|           2|        8.6|  2.5|    0.5|       0.0|         0.0|                  1.0|        15.1|                 2.5|        0.0|
|       1| 2024-10-10 06:12:34|  2024-10-10 06:29:17|              1|          3.5|         1|                 N|         163|         211|           1|       17.7|  3.5|    0.5|       1.5|         0.0|                  1.0|        24.2|                 2.5|        0.0|
|       2| 2024-10-10 04:19:16|  2024-10-10 04:53:56|              1|        12.33|         1|                 N|         237|         181|           1|       51.3|  1.0|    0.5|     15.81|        6.94|                  1.0|       79.05|                 2.5|        0.0|
|       2| 2024-10-02 22:30:00|  2024-10-02 22:36:43|              1|         0.54|         1|                 N|          79|         113|           1|        7.2|  0.0|    0.5|       2.0|         0.0|                  1.0|        13.2|                 2.5|        0.0|
|       2| 2024-10-02 03:12:23|  2024-10-02 03:23:32|              1|          2.1|         1|                 N|         161|         239|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|
|       2| 2024-10-05 00:46:07|  2024-10-05 00:54:18|              1|         1.34|         1|                 N|         161|         141|           1|        9.3|  2.5|    0.5|      3.16|         0.0|                  1.0|       18.96|                 2.5|        0.0|
|       2| 2024-10-05 16:16:58|  2024-10-05 16:20:40|              2|         0.91|         1|                 N|         141|         236|           1|        6.5|  0.0|    0.5|       2.1|         0.0|                  1.0|        12.6|                 2.5|        0.0|
|       2| 2024-10-08 23:14:39|  2024-10-08 23:26:05|              1|          2.2|         1|                 N|         249|          13|           1|       13.5|  2.5|    0.5|       4.0|         0.0|                  1.0|        24.0|                 2.5|        0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 20 rows

In [8]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [36]:
df.withColumn("pickup_date", F.to_date(df["tpep_pickup_datetime"])).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|pickup_date|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+
|       1| 2024-10-07 23:40:43|  2024-10-08 01:10:56|              1|         14.8|        99|                 N|         127|         225|           1|       47.5|  0.0|    0.5|       0.0|        6.94|                  0.0|       54.94|                 0.0|        0.0| 2024-10-07|
|       2| 2024-10-04 21:17:41|  2024-10-04 21:26:47|              1|          1.1|         1|                 N|         113|         211|           1|        9.3|  0.0|    0.5|      2.66|         0.0|                  1.0|       15.96|                 2.5|        0.0| 2024-10-04|
|       2| 2024-10-01 18:17:28|  2024-10-01 18:32:18|              1|         4.63|         1|                 N|         231|         170|           1|       21.9|  0.0|    0.5|      5.18|         0.0|                  1.0|       31.08|                 2.5|        0.0| 2024-10-01|
|       1| 2024-10-09 00:12:07|  2024-10-09 00:35:56|              1|          2.4|         1|                 N|         236|         100|           1|       19.8|  5.0|    0.5|      5.25|         0.0|                  1.0|       31.55|                 2.5|        0.0| 2024-10-09|
|       1| 2024-10-01 22:37:08|  2024-10-01 22:54:23|              1|          2.1|         1|                 N|         237|          75|           1|       16.3|  2.5|    0.5|      4.05|         0.0|                  1.0|       24.35|                 2.5|        0.0| 2024-10-01|
|       1| 2024-10-09 17:14:04|  2024-10-09 17:28:13|              1|          1.7|         1|                 N|         161|         234|           1|       12.8|  2.5|    0.5|      3.35|         0.0|                  1.0|       20.15|                 2.5|        0.0| 2024-10-09|
|       2| 2024-10-05 00:08:38|  2024-10-05 01:03:10|              1|        17.42|         1|                 N|         132|          17|           1|       75.1|  2.5|    0.5|     19.77|         0.0|                  1.0|      100.62|                 0.0|       1.75| 2024-10-05|
|       2| 2024-10-05 08:27:22|  2024-10-05 08:40:37|              1|         1.88|         1|                 N|         148|         137|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0| 2024-10-05|
|       2| 2024-10-06 06:50:45|  2024-10-06 07:00:32|              1|         1.06|         1|                 N|          79|         211|           1|       10.0|  1.0|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0| 2024-10-06|
|       2| 2024-10-02 21:31:14|  2024-10-02 21:45:59|              1|         2.88|         1|                 N|         231|         246|           2|       17.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        21.0|                 2.5|        0.0| 2024-10-02|
|       2| 2024-10-10 15:25:53|  2024-10-10 15:27:59|              1|          0.4|         1|                 N|         237|         237|           1|        4.4|  0.0|    0.5|       2.5|         0.0|                  1.0|        10.9|                 2.5|        0.0| 2024-10-10|
|       2| 2024-10-05 06:07:32|  2024-10-05 06:15:38|              1|         0.94|         1|                 N|         142|          48|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0| 2024-10-05|
|       2| 2024-10-05 00:00:04|  2024-10-05 00:07:54|              1|         0.85|         1|                 N|         170|         137|           2|        8.6|  2.5|    0.5|       0.0|         0.0|                  1.0|        15.1|                 2.5|        0.0| 2024-10-05|
|       1| 2024-10-10 06:12:34|  2024-10-10 06:29:17|              1|          3.5|         1|                 N|         163|         211|           1|       17.7|  3.5|    0.5|       1.5|         0.0|                  1.0|        24.2|                 2.5|        0.0| 2024-10-10|
|       2| 2024-10-10 04:19:16|  2024-10-10 04:53:56|              1|        12.33|         1|                 N|         237|         181|           1|       51.3|  1.0|    0.5|     15.81|        6.94|                  1.0|       79.05|                 2.5|        0.0| 2024-10-10|
|       2| 2024-10-02 22:30:00|  2024-10-02 22:36:43|              1|         0.54|         1|                 N|          79|         113|           1|        7.2|  0.0|    0.5|       2.0|         0.0|                  1.0|        13.2|                 2.5|        0.0| 2024-10-02|
|       2| 2024-10-02 03:12:23|  2024-10-02 03:23:32|              1|          2.1|         1|                 N|         161|         239|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0| 2024-10-02|
|       2| 2024-10-05 00:46:07|  2024-10-05 00:54:18|              1|         1.34|         1|                 N|         161|         141|           1|        9.3|  2.5|    0.5|      3.16|         0.0|                  1.0|       18.96|                 2.5|        0.0| 2024-10-05|
|       2| 2024-10-05 16:16:58|  2024-10-05 16:20:40|              2|         0.91|         1|                 N|         141|         236|           1|        6.5|  0.0|    0.5|       2.1|         0.0|                  1.0|        12.6|                 2.5|        0.0| 2024-10-05|
|       2| 2024-10-08 23:14:39|  2024-10-08 23:26:05|              1|          2.2|         1|                 N|         249|          13|           1|       13.5|  2.5|    0.5|       4.0|         0.0|                  1.0|        24.0|                 2.5|        0.0| 2024-10-08|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-----------+
only showing top 20 rows

In [9]:
df = df.withColumn(
    "trip_duration_hours",
    (
        F.unix_timestamp(df["tpep_dropoff_datetime"])
        - F.unix_timestamp(df["tpep_pickup_datetime"])
    )
    / 3600,
)

df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|trip_duration_hours|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+
|       1| 2024-10-07 23:40:43|  2024-10-08 01:10:56|              1|         14.8|        99|                 N|         127|         225|           1|       47.5|  0.0|    0.5|       0.0|        6.94|                  0.0|       54.94|                 0.0|        0.0|  1.503611111111111|
|       2| 2024-10-04 21:17:41|  2024-10-04 21:26:47|              1|          1.1|         1|                 N|         113|         211|           1|        9.3|  0.0|    0.5|      2.66|         0.0|                  1.0|       15.96|                 2.5|        0.0|0.15166666666666667|
|       2| 2024-10-01 18:17:28|  2024-10-01 18:32:18|              1|         4.63|         1|                 N|         231|         170|           1|       21.9|  0.0|    0.5|      5.18|         0.0|                  1.0|       31.08|                 2.5|        0.0|0.24722222222222223|
|       1| 2024-10-09 00:12:07|  2024-10-09 00:35:56|              1|          2.4|         1|                 N|         236|         100|           1|       19.8|  5.0|    0.5|      5.25|         0.0|                  1.0|       31.55|                 2.5|        0.0|0.39694444444444443|
|       1| 2024-10-01 22:37:08|  2024-10-01 22:54:23|              1|          2.1|         1|                 N|         237|          75|           1|       16.3|  2.5|    0.5|      4.05|         0.0|                  1.0|       24.35|                 2.5|        0.0|             0.2875|
|       1| 2024-10-09 17:14:04|  2024-10-09 17:28:13|              1|          1.7|         1|                 N|         161|         234|           1|       12.8|  2.5|    0.5|      3.35|         0.0|                  1.0|       20.15|                 2.5|        0.0|0.23583333333333334|
|       2| 2024-10-05 00:08:38|  2024-10-05 01:03:10|              1|        17.42|         1|                 N|         132|          17|           1|       75.1|  2.5|    0.5|     19.77|         0.0|                  1.0|      100.62|                 0.0|       1.75| 0.9088888888888889|
|       2| 2024-10-05 08:27:22|  2024-10-05 08:40:37|              1|         1.88|         1|                 N|         148|         137|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|0.22083333333333333|
|       2| 2024-10-06 06:50:45|  2024-10-06 07:00:32|              1|         1.06|         1|                 N|          79|         211|           1|       10.0|  1.0|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|0.16305555555555556|
|       2| 2024-10-02 21:31:14|  2024-10-02 21:45:59|              1|         2.88|         1|                 N|         231|         246|           2|       17.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        21.0|                 2.5|        0.0|0.24583333333333332|
|       2| 2024-10-10 15:25:53|  2024-10-10 15:27:59|              1|          0.4|         1|                 N|         237|         237|           1|        4.4|  0.0|    0.5|       2.5|         0.0|                  1.0|        10.9|                 2.5|        0.0|              0.035|
|       2| 2024-10-05 06:07:32|  2024-10-05 06:15:38|              1|         0.94|         1|                 N|         142|          48|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|              0.135|
|       2| 2024-10-05 00:00:04|  2024-10-05 00:07:54|              1|         0.85|         1|                 N|         170|         137|           2|        8.6|  2.5|    0.5|       0.0|         0.0|                  1.0|        15.1|                 2.5|        0.0|0.13055555555555556|
|       1| 2024-10-10 06:12:34|  2024-10-10 06:29:17|              1|          3.5|         1|                 N|         163|         211|           1|       17.7|  3.5|    0.5|       1.5|         0.0|                  1.0|        24.2|                 2.5|        0.0| 0.2786111111111111|
|       2| 2024-10-10 04:19:16|  2024-10-10 04:53:56|              1|        12.33|         1|                 N|         237|         181|           1|       51.3|  1.0|    0.5|     15.81|        6.94|                  1.0|       79.05|                 2.5|        0.0| 0.5777777777777777|
|       2| 2024-10-02 22:30:00|  2024-10-02 22:36:43|              1|         0.54|         1|                 N|          79|         113|           1|        7.2|  0.0|    0.5|       2.0|         0.0|                  1.0|        13.2|                 2.5|        0.0|0.11194444444444444|
|       2| 2024-10-02 03:12:23|  2024-10-02 03:23:32|              1|          2.1|         1|                 N|         161|         239|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|0.18583333333333332|
|       2| 2024-10-05 00:46:07|  2024-10-05 00:54:18|              1|         1.34|         1|                 N|         161|         141|           1|        9.3|  2.5|    0.5|      3.16|         0.0|                  1.0|       18.96|                 2.5|        0.0| 0.1363888888888889|
|       2| 2024-10-05 16:16:58|  2024-10-05 16:20:40|              2|         0.91|         1|                 N|         141|         236|           1|        6.5|  0.0|    0.5|       2.1|         0.0|                  1.0|        12.6|                 2.5|        0.0|0.06166666666666667|
|       2| 2024-10-08 23:14:39|  2024-10-08 23:26:05|              1|          2.2|         1|                 N|         249|          13|           1|       13.5|  2.5|    0.5|       4.0|         0.0|                  1.0|        24.0|                 2.5|        0.0|0.19055555555555556|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+
only showing top 20 rows

In [10]:
df.createOrReplaceTempView("yellow_2024_10")

In [ ]:
spark.sql("""
SELECT
    MAX(trip_duration_hours)
FROM
    yellow_2024_10
""").show()

+------------------------+
|max(trip_duration_hours)|
+------------------------+
|      162.61777777777777|
+------------------------+

In [13]:
zone_lookup = spark.read.option("header", "true").csv("taxi_zone_lookup.csv")
zone_lookup.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [14]:
zone_lookup.createOrReplaceTempView("zones")

In [18]:
df_join = df.join(zone_lookup, df["PULocationID"] == zone_lookup["LocationID"], "inner")
df_join.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+----------+---------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|trip_duration_hours|LocationID|  Borough|                Zone|service_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+----------+---------+--------------------+------------+
|       1| 2024-10-07 23:40:43|  2024-10-08 01:10:56|              1|         14.8|        99|                 N|         127|         225|           1|       47.5|  0.0|    0.5|       0.0|        6.94|                  0.0|       54.94|                 0.0|        0.0|  1.503611111111111|       127|Manhattan|              Inwood|   Boro Zone|
|       2| 2024-10-04 21:17:41|  2024-10-04 21:26:47|              1|          1.1|         1|                 N|         113|         211|           1|        9.3|  0.0|    0.5|      2.66|         0.0|                  1.0|       15.96|                 2.5|        0.0|0.15166666666666667|       113|Manhattan|Greenwich Village...| Yellow Zone|
|       2| 2024-10-01 18:17:28|  2024-10-01 18:32:18|              1|         4.63|         1|                 N|         231|         170|           1|       21.9|  0.0|    0.5|      5.18|         0.0|                  1.0|       31.08|                 2.5|        0.0|0.24722222222222223|       231|Manhattan|TriBeCa/Civic Center| Yellow Zone|
|       1| 2024-10-09 00:12:07|  2024-10-09 00:35:56|              1|          2.4|         1|                 N|         236|         100|           1|       19.8|  5.0|    0.5|      5.25|         0.0|                  1.0|       31.55|                 2.5|        0.0|0.39694444444444443|       236|Manhattan|Upper East Side N...| Yellow Zone|
|       1| 2024-10-01 22:37:08|  2024-10-01 22:54:23|              1|          2.1|         1|                 N|         237|          75|           1|       16.3|  2.5|    0.5|      4.05|         0.0|                  1.0|       24.35|                 2.5|        0.0|             0.2875|       237|Manhattan|Upper East Side S...| Yellow Zone|
|       1| 2024-10-09 17:14:04|  2024-10-09 17:28:13|              1|          1.7|         1|                 N|         161|         234|           1|       12.8|  2.5|    0.5|      3.35|         0.0|                  1.0|       20.15|                 2.5|        0.0|0.23583333333333334|       161|Manhattan|      Midtown Center| Yellow Zone|
|       2| 2024-10-05 00:08:38|  2024-10-05 01:03:10|              1|        17.42|         1|                 N|         132|          17|           1|       75.1|  2.5|    0.5|     19.77|         0.0|                  1.0|      100.62|                 0.0|       1.75| 0.9088888888888889|       132|   Queens|         JFK Airport|    Airports|
|       2| 2024-10-05 08:27:22|  2024-10-05 08:40:37|              1|         1.88|         1|                 N|         148|         137|           1|       13.5|  1.0|    0.5|       3.7|         0.0|                  1.0|        22.2|                 2.5|        0.0|0.22083333333333333|       148|Manhattan|     Lower East Side| Yellow Zone|
|       2| 2024-10-06 06:50:45|  2024-10-06 07:00:32|              1|         1.06|         1|                 N|          79|         211|           1|       10.0|  1.0|    0.5|       2.0|         0.0|                  1.0|        17.0|                 2.5|        0.0|0.16305555555555556|        79|Manhattan|        East Village| Yellow Zone|
|       2| 2024-10-02 21:31:14|  2024-10-02 21:45:59|              1|         2.88|         1|                 N|         231|         246|           2|       17.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        21.0|                 2.5|        0.0|0.24583333333333332|       231|Manhattan|TriBeCa/Civic Center| Yellow Zone|
|       2| 2024-10-10 15:25:53|  2024-10-10 15:27:59|              1|          0.4|         1|                 N|         237|         237|           1|        4.4|  0.0|    0.5|       2.5|         0.0|                  1.0|        10.9|                 2.5|        0.0|              0.035|       237|Manhattan|Upper East Side S...| Yellow Zone|
|       2| 2024-10-05 06:07:32|  2024-10-05 06:15:38|              1|         0.94|         1|                 N|         142|          48|           1|        9.3|  1.0|    0.5|      2.86|         0.0|                  1.0|       17.16|                 2.5|        0.0|              0.135|       142|Manhattan| Lincoln Square East| Yellow Zone|
|       2| 2024-10-05 00:00:04|  2024-10-05 00:07:54|              1|         0.85|         1|                 N|         170|         137|           2|        8.6|  2.5|    0.5|       0.0|         0.0|                  1.0|        15.1|                 2.5|        0.0|0.13055555555555556|       170|Manhattan|         Murray Hill| Yellow Zone|
|       1| 2024-10-10 06:12:34|  2024-10-10 06:29:17|              1|          3.5|         1|                 N|         163|         211|           1|       17.7|  3.5|    0.5|       1.5|         0.0|                  1.0|        24.2|                 2.5|        0.0| 0.2786111111111111|       163|Manhattan|       Midtown North| Yellow Zone|
|       2| 2024-10-10 04:19:16|  2024-10-10 04:53:56|              1|        12.33|         1|                 N|         237|         181|           1|       51.3|  1.0|    0.5|     15.81|        6.94|                  1.0|       79.05|                 2.5|        0.0| 0.5777777777777777|       237|Manhattan|Upper East Side S...| Yellow Zone|
|       2| 2024-10-02 22:30:00|  2024-10-02 22:36:43|              1|         0.54|         1|                 N|          79|         113|           1|        7.2|  0.0|    0.5|       2.0|         0.0|                  1.0|        13.2|                 2.5|        0.0|0.11194444444444444|        79|Manhattan|        East Village| Yellow Zone|
|       2| 2024-10-02 03:12:23|  2024-10-02 03:23:32|              1|          2.1|         1|                 N|         161|         239|           1|       12.8|  1.0|    0.5|      3.56|         0.0|                  1.0|       21.36|                 2.5|        0.0|0.18583333333333332|       161|Manhattan|      Midtown Center| Yellow Zone|
|       2| 2024-10-05 00:46:07|  2024-10-05 00:54:18|              1|         1.34|         1|                 N|         161|         141|           1|        9.3|  2.5|    0.5|      3.16|         0.0|                  1.0|       18.96|                 2.5|        0.0| 0.1363888888888889|       161|Manhattan|      Midtown Center| Yellow Zone|
|       2| 2024-10-05 16:16:58|  2024-10-05 16:20:40|              2|         0.91|         1|                 N|         141|         236|           1|        6.5|  0.0|    0.5|       2.1|         0.0|                  1.0|        12.6|                 2.5|        0.0|0.06166666666666667|       141|Manhattan|     Lenox Hill West| Yellow Zone|
|       2| 2024-10-08 23:14:39|  2024-10-08 23:26:05|              1|          2.2|         1|                 N|         249|          13|           1|       13.5|  2.5|    0.5|       4.0|         0.0|                  1.0|        24.0|                 2.5|        0.0|0.19055555555555556|       249|Manhattan|        West Village| Yellow Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+-------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [19]:
df_join.createOrReplaceTempView("yellow_2024_10_with_zones")

In [20]:
spark.sql("""
SELECT 
    Zone,
    COUNT(*) AS trip_count
FROM 
    yellow_2024_10_with_zones
GROUP BY Zone
ORDER BY trip_count

""").show()

+--------------------+----------+
|                Zone|trip_count|
+--------------------+----------+
|Governor's Island...|         1|
|       Arden Heights|         2|
|       Rikers Island|         2|
|         Jamaica Bay|         3|
| Green-Wood Cemetery|         3|
|       West Brighton|         4|
|       Port Richmond|         4|
|Eltingville/Annad...|         4|
|   Rossville/Woodrow|         4|
|Charleston/Totten...|         4|
|        Crotona Park|         6|
|         Great Kills|         6|
|     Mariners Harbor|         7|
|Heartland Village...|         7|
|Saint George/New ...|         9|
|             Oakwood|         9|
|New Dorp/Midland ...|        10|
|       Broad Channel|        10|
|         Westerleigh|        12|
|     Pelham Bay Park|        12|
+--------------------+----------+
only showing top 20 rows

In [64]:
spark.sql("""
SELECT 
    COUNT(*) AS trip_count
FROM
    yellow_2024_10
WHERE
    DATE(tpep_pickup_datetime) = '2024-10-15'

""").show()

+----------+
|trip_count|
+----------+
|    117098|
+----------+

## Taxi Schema

In [7]:
df_green = spark.read.option("header", "true").csv("data/raw/green/2021/01/")
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2021-01-01 00:15:56|  2021-01-01 00:19:52|                 N|         1|          43|         151|              1|         1.01|        5.5|  0.5|    0.5|         0|           0|     null|                  0.3|         6.8|           2|        1|                   0|
|       2| 2021-01-01 00:25:59|  2021-01-01 00:34:44|                 N|         1|         166|         239|              1|         2.53|         10|  0.5|    0.5|      2.81|           0|     null|                  0.3|       16.86|           1|        1|                2.75|
|       2| 2021-01-01 00:45:57|  2021-01-01 00:51:55|                 N|         1|          41|          42|              1|         1.12|          6|  0.5|    0.5|         1|           0|     null|                  0.3|         8.3|           1|        1|                   0|
|       2| 2020-12-31 23:57:51|  2021-01-01 00:04:56|                 N|         1|         168|          75|              1|         1.99|          8|  0.5|    0.5|         0|           0|     null|                  0.3|         9.3|           2|        1|                   0|
|       2| 2021-01-01 00:16:36|  2021-01-01 00:16:40|                 N|         2|         265|         265|              3|          .00|        -52|    0|   -0.5|         0|           0|     null|                 -0.3|       -52.8|           3|        1|                   0|
|       2| 2021-01-01 00:16:36|  2021-01-01 00:16:40|                 N|         2|         265|         265|              3|          .00|         52|    0|    0.5|         0|           0|     null|                  0.3|        52.8|           2|        1|                   0|
|       2| 2021-01-01 00:19:14|  2021-01-01 00:19:21|                 N|         5|         265|         265|              1|          .00|        180|    0|      0|     36.06|           0|     null|                  0.3|      216.36|           1|        2|                   0|
|       2| 2021-01-01 00:26:31|  2021-01-01 00:28:50|                 N|         1|          75|          75|              6|          .45|        3.5|  0.5|    0.5|      0.96|           0|     null|                  0.3|        5.76|           1|        1|                   0|
|       2| 2021-01-01 00:57:46|  2021-01-01 00:57:57|                 N|         1|         225|         225|              1|          .00|        2.5|  0.5|    0.5|         0|           0|     null|                  0.3|         3.8|           2|        1|                   0|
|       2| 2021-01-01 00:58:32|  2021-01-01 01:32:34|                 N|         1|         225|         265|              1|        12.19|         38|  0.5|    0.5|      2.75|           0|     null|                  0.3|       42.05|           1|        1|                   0|
|       2| 2021-01-01 00:31:14|  2021-01-01 00:55:07|                 N|         1|         244|         244|              2|         3.39|         18|  0.5|    0.5|         0|           0|     null|                  0.3|        19.3|           2|        1|                   0|
|       2| 2021-01-01 00:08:50|  2021-01-01 00:21:56|                 N|         1|          75|         213|              1|         6.69|       19.5|  0.5|    0.5|         0|           0|     null|                  0.3|        20.8|           2|        1|                   0|
|       2| 2021-01-01 00:35:13|  2021-01-01 00:44:44|                 N|         1|          74|         238|              1|         2.34|         10|  0.5|    0.5|         0|           0|     null|                  0.3|       14.05|           1|        1|                2.75|
|       2| 2021-01-01 00:39:57|  2021-01-01 00:55:25|                 N|         1|          74|          60|              1|         5.48|         18|  0.5|    0.5|         0|           0|     null|                  0.3|        19.3|           2|        1|                   0|
|       1| 2021-01-01 00:51:27|  2021-01-01 00:57:20|                 N|         1|          42|          41|              2|          .90|          6|  0.5|    0.5|         0|           0|     null|                  0.3|         7.3|           1|        1|                   0|
|       2| 2021-01-01 00:29:05|  2021-01-01 00:29:07|                 N|         5|          42|         264|              1|          .00|         10|    0|      0|      2.06|           0|     null|                  0.3|       12.36|           1|        2|                   0|
|       2| 2021-01-01 00:32:07|  2021-01-01 00:42:54|                 N|         1|          74|         116|              1|         2.08|        9.5|  0.5|    0.5|      2.16|           0|     null|                  0.3|       12.96|           1|        1|                   0|
|       2| 2021-01-01 00:49:59|  2021-01-01 01:05:01|                 N|         1|         116|         143|              1|         4.64|       16.5|  0.5|    0.5|      5.14|           0|     null|                  0.3|       25.69|           1|        1|                2.75|
|       2| 2021-01-01 00:07:20|  2021-01-01 00:12:01|                 N|         1|          75|          42|              1|         1.68|        6.5|  0.5|    0.5|         0|           0|     null|                  0.3|         7.8|           2|        1|                   0|
|       2| 2021-01-01 00:25:54|  2021-01-01 00:28:20|                 N|         1|          74|          75|              1|          .68|          4|  0.5|    0.5|         0|           0|     null|                  0.3|         5.3|           2|        1|                   0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [8]:
df_green.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- lpep_dropoff_datetime: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- ehail_fee: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- trip_type: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)

In [9]:
df_green_pd = pd.read_csv(
    "data/raw/green/2021/01/green_tripdata_2021_01.csv.gz", nrows=1000
)
df_green_pd.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1,43,151,1,1.01,5.5,0.5,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1,166,239,1,2.53,10.0,0.5,0.5,2.81,0.0,NaN,0.3,16.86,1,1,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1,41,42,1,1.12,6.0,0.5,0.5,1.00,0.0,NaN,0.3,8.30,1,1,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1,168,75,1,1.99,8.0,0.5,0.5,0.00,0.0,NaN,0.3,9.30,2,1,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2,265,265,3,0.00,-52.0,0.0,-0.5,0.00,0.0,NaN,-0.3,-52.80,3,1,0.00

In [21]:
spark.createDataFrame(df_green_pd).schema

C:\tools\spark-3.3.2-bin-hadoop3\python\pyspark\sql\pandas\conversion.py:474: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():
C:\tools\spark-3.3.2-bin-hadoop3\python\pyspark\sql\pandas\conversion.py:486: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for column, series in pdf.iteritems():

StructType([StructField('VendorID', LongType(), True), StructField('lpep_pickup_datetime', StringType(), True), StructField('lpep_dropoff_datetime', StringType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('RatecodeID', LongType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('ehail_fee', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('payment_type', LongType(), True), StructField('trip_type', LongType(), True), StructField('congestion_surcharge', DoubleType(), True)])

In [10]:
green_schema = types.StructType(
    [
        types.StructField("VendorID", types.IntegerType(), True),
        types.StructField("lpep_pickup_datetime", types.TimestampType(), True),
        types.StructField("lpep_dropoff_datetime", types.TimestampType(), True),
        types.StructField("store_and_fwd_flag", types.StringType(), True),
        types.StructField("RatecodeID", types.IntegerType(), True),
        types.StructField("PULocationID", types.IntegerType(), True),
        types.StructField("DOLocationID", types.IntegerType(), True),
        types.StructField("passenger_count", types.IntegerType(), True),
        types.StructField("trip_distance", types.DoubleType(), True),
        types.StructField("fare_amount", types.DoubleType(), True),
        types.StructField("extra", types.DoubleType(), True),
        types.StructField("mta_tax", types.DoubleType(), True),
        types.StructField("tip_amount", types.DoubleType(), True),
        types.StructField("tolls_amount", types.DoubleType(), True),
        types.StructField("ehail_fee", types.DoubleType(), True),
        types.StructField("improvement_surcharge", types.DoubleType(), True),
        types.StructField("total_amount", types.DoubleType(), True),
        types.StructField("payment_type", types.IntegerType(), True),
        types.StructField("trip_type", types.IntegerType(), True),
        types.StructField("congestion_surcharge", types.DoubleType(), True),
    ]
)

In [ ]:
## use customed schema
# df_green = (
#     spark.read.option("header", "true")
#     .schema(green_schema)
#     .csv("data/raw/green/2021/01/")
# )

## use infer schema
df_green = (
    spark.read.option("inferSchema", "true")
    .option("header", "true")
    .csv("data/raw/green/2021/01/")
)
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: string (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [25]:
df_yellow_pd = pd.read_csv(
    "data/raw/yellow/2021/01/yellow_tripdata_2021_01.csv.gz", nrows=1000
)
df_yellow_pd.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [13]:
df_yellow = (
    spark.read.option("header", "true")
    .option("inferSchema", "true")
    .csv("data/raw/yellow/2021/01/")
)
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [ ]:
## repartion and write to parquet
# year = 2020
# for month in range(1, 13):
#     input_path = f"data/raw/yellow/{year}/{month:02d}/"
#     output_path = f"data/pq/yellow/{year}/{month:02d}/"
#     df_yellow = (
#         spark.read.option("header", "true").schema(yellow_schema).csv(input_path)
#     )
#     df_yellow.repartition(4).write.parquet(output_path)

## SQL with Spark

In [ ]:
df_green = spark.read.parquet("data/pq/green/*/*")

In [ ]:
df_green = df_green.withColumnRenamed(
    "lpep_pickup_datetime", "pickup_datetime"
).withColumnRenamed("lpep_dropoff_datetime", "dropoff_datetime")

In [ ]:
df_yellow = spark.read.parquet("data/pq/yellow/*/*")

In [ ]:
df_yellow = df_yellow.withColumnRenamed(
    "tpep_pickup_datetime", "pickup_datetime"
).withColumnRenamed("tpep_dropoff_datetime", "dropoff_datetime")

In [19]:
common_colums = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_colums.append(col)

In [ ]:
df_green_sel = df_green.select(common_colums).withColumn("service_type", F.lit("green"))

In [ ]:
df_yellow_sel = df_yellow.select(common_colums).withColumn(
    "service_type", F.lit("yellow")
)

In [22]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [ ]:
df_trips_data.groupBy("service_type").count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [24]:
df_trips_data.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge',
 'service_type']

In [25]:
df_trips_data.registerTempTable("trips_data")

C:\tools\spark-3.3.2-bin-hadoop3\python\pyspark\sql\dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [26]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY 
    service_type
""").show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [27]:
df_result = spark.sql("""
SELECT 
    -- Revenue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_monthly_passenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [30]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_monthly_passenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
|          33|2020-02-01 00:00:00|       green|  143526.48999999947|              5734.75|                 4636.0|         17553.62999999994|           507.6100000000001|                    2979.899999999876|          180998.43000000593|                              6393.5|         1.2772073921971252|       3.2689649681528645|
|          39|2020-02-01 00:00:00|       green|   45098.69000000034|              3701.75|                  263.5|                     22.47|          1062.4000000000005|                   417.00000000000557|           50568.56000000009|                                2.75|         1.1235059760956174|        6.542627877237855|
|         265|2020-02-01 00:00:00|       green|  12431.599999999999|               359.09|                  118.0|                    353.03|           461.3600000000001|                    98.69999999999965|          13827.279999999993|                                2.75|         1.5217391304347827|        8.645274725274723|
|         126|2020-02-01 00:00:00|       green|   7159.769999999997|                583.0|                   80.0|                     29.73|          234.44000000000005|                    97.49999999999974|           8191.340000000004|                                 0.0|         1.1764705882352942|        4.280221606648199|
|         221|2020-01-01 00:00:00|       green|               382.5|                  1.0|                    3.0|                       0.0|           85.67999999999999|                                  2.1|                      474.28|                                 0.0|         1.2857142857142858|       12.874285714285715|
|         112|2020-02-01 00:00:00|       green|            21246.88|              1030.51|                  681.0|                   2607.84|           347.5600000000001|                    435.6000000000057|          27034.689999999802|                               783.5|         1.2501786990707648|       3.4512254570074483|
|         160|2020-02-01 00:00:00|       green|   5285.659999999994|               434.25|                   42.0|                     22.86|                      136.93|                     63.5999999999999|           5985.300000000002|                                2.75|         1.2467532467532467|        4.088018018018017|
|          35|2020-01-01 00:00:00|       green|   51364.22999999995|              3498.25|                  422.0|                     33.81|          1007.9800000000002|                    538.5000000000097|           56871.42000000011|                                 5.5|         1.1042183622828785|        5.437524084778418|
|         175|2020-02-01 00:00:00|       green|   3626.689999999998|               268.75|                   13.5|                      2.82|                       122.4|                    34.20000000000004|           4068.359999999999|                                 0.0|                        1.1|        6.121779661016948|
|          95|2020-03-01 00:00:00|       green|   75784.67000000001|              2378.75|                 2877.0|         6567.289999999992|           1171.179999999998|                    1875.599999999807|           91141.79000000619|                              450.75|         1.3517110266159695|       2.8941223193010326|
|          76|2020-02-01 00:00:00|       green|    60807.7800000001|              5400.75|                  391.0|        198.00000000000006|          1409.0300000000004|                    666.9000000000138|           68901.86000000048|                                2.75|         1.2119565217391304|        5.530049792531119|
|         260|2020-02-01 00:00:00|       green|            80328.49|              3379.75|                 3330.0|         7016.409999999996|           585.6800000000003|                    2081.699999999867|           97264.58000000434|                               571.5|         1.5792827504445761|       2.5521661424077804|
|         182|2020-02-01 00:00:00|       green|  19047.140000000032|               1493.0|                  183.5|        209.76000000000005|           676.0000000000005|                   267.00000000000153|          21901.749999999927|                                16.5|          1.275053304904051|        4.035101832993891|
|          18|2020-02-01 00:00:00|       green|  18348.309999999987|              1290.25|                  169.5|         97.08999999999999|           738.1300000000005|                   204.60000000000002|          20882.729999999992|                               19.25|         1.2484076433121019|        5.599182305630028|
|          29|2020-01-01 00:00:00|       green|  25023.050000000017|               1154.5|                  230.0|        116.18999999999998|           802.9200000000003|                    225.0000000000028|           27554.40999999988|                                2.75|         1.1295681063122924|        7.838712753277719|
|         265|2020-01-01 00:00:00|       green|  12497.059999999994|               251.25|                   84.5|         712.4899999999998|          405.48000000000013|                    88.49999999999952|          14043.179999999955|                                2.75|         1.4027149321266967|        7.998323170731704|
|         156|2020-01-01 00:00:00|       green|             3983.88|                 26.0|                   32.5|                       0.0|           569.1600000000003|                   22.800000000000033|           4634.340000000001|                                 0.0|         1.4090909090909092|        17.99039473684211|
|         245|2020-01-01 00:00:00|       green|                80.0|                 2.75|                    0.0|                       0.0|                         0.0|                                  0.3|                       83.05|                                 0.0|                        6.0|                     51.9|
|         185|2020-02-01 00:00:00|       green|  15049.350000000033|               1268.0|                  111.0|                     52.91|           338.8800000000001|                   186.59999999999954|          17014.189999999973|                                 5.5|         1.1666666666666667|        4.479231927710842|
|         187|2020-02-01 00:00:00|       green|                63.7|                  0.0|                    1.0|                       0.0|                       12.24|                                  0.6|           77.53999999999999|                                 0.0|                        2.0|                     0.11|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [28]:
df_result.coalesce(1).write.parquet("data/report/revenue/", mode="overwrite")

## Group by and Join Spark

In [ ]:
df_green = spark.read.parquet("data/pq/green/*/*")

In [ ]:
df_green.createOrReplaceTempView("green")

In [24]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [ ]:
df_green_revenue.repartition(20).write.parquet(
    "data/report/revenue/green", mode="overwrite"
)

In [ ]:
df_yellow = spark.read.parquet("data/pq/yellow/*/*")
df_yellow.createOrReplaceTempView("yellow")

In [28]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [ ]:
df_yellow_revenue.repartition(20).write.parquet(
    "data/report/revenue/yellow", mode="overwrite"
)

In [ ]:
df_green_revenue = spark.read.parquet("data/report/revenue/green")
df_yellow_revenue = spark.read.parquet("data/report/revenue/yellow")

In [ ]:
df_green_revenue_tmp = df_green_revenue.withColumnRenamed(
    "amount", "green_amount"
).withColumnRenamed("number_records", "green_number_records")

df_yellow_revenue_tmp = df_yellow_revenue.withColumnRenamed(
    "amount", "yellow_amount"
).withColumnRenamed("number_records", "yellow_number_records")

In [ ]:
df_join = df_green_revenue_tmp.join(
    df_yellow_revenue_tmp, on=["hour", "zone"], how="outer"
)

In [ ]:
df_join.write.parquet("data/report/revenue/total", mode="overwrite")

In [ ]:
df_join = spark.read.parquet("data/report/revenue/total")

In [35]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [36]:
df_result = df_join.join(zone_lookup, df_join.zone == zone_lookup.LocationID)

In [ ]:
df_result.drop("LocationID", "zone").write.parquet("tmp/revenue-zones")

## Connecting Spark to GCS

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.context import SparkContext

In [4]:
gcs_connector_jar = "/b/Belajar/data engineering/homework-de-zoomcamp/week-5/lib/gcs-connector-hadoop3-2.2.5.jar"
credentials_location = "../../credentials/gcs_creds_latest.json"

# Konfigurasi Spark
conf = (
    SparkConf()
    .setMaster("local[*]")
    .setAppName("test")
    .set("spark.jars", gcs_connector_jar)
    .set("spark.hadoop.google.cloud.auth.service.account.enable", "true")
    .set(
        "spark.hadoop.google.cloud.auth.service.account.json.keyfile",
        credentials_location,
    )
    .set(
        "spark.hadoop.fs.gs.impl",
        "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem",
    )
    .set(
        "spark.hadoop.fs.AbstractFileSystem.gs.impl",
        "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS",
    )
)

# Inisialisasi SparkContext
sc = SparkContext(conf=conf)

# Konfigurasi Hadoop
hadoop_conf = sc._jsc.hadoopConfiguration()
hadoop_conf.set("fs.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem")
hadoop_conf.set(
    "fs.AbstractFileSystem.gs.impl", "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS"
)
hadoop_conf.set("fs.gs.auth.service.account.json.keyfile", credentials_location)
hadoop_conf.set("fs.gs.auth.service.account.enable", "true")

# Inisialisasi SparkSession
spark = SparkSession.builder.config(conf=sc.getConf()).getOrCreate()

# Contoh penggunaan
df = spark.read.parquet("gs://ny_taxi_project_bucket-1/pq/green/*/*")
df.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       1| 2020-01-03 19:00:01|  2020-01-03 19:05:48|                 N|         1|         244|         116|              1|          1.0|        6.0|  1.0|    0.5|       1.0|         0.0|     null|                  0.3|         8.8|           1|        1|                 0.0|
|       2| 2020-01-29 19:55:01|  2020-01-29 19:59:12|                 N|         1|         166|          24|              1|         0.82|        5.0|  1.0|    0.5|      1.36|         0.0|     null|                  0.3|        8.16|           1|        1|                 0.0|
|       1| 2020-01-02 10:20:42|  2020-01-02 10:21:07|                 N|         1|         145|         145|              1|          0.0|        2.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         3.3|           2|        1|                 0.0|
|    null| 2020-01-23 10:24:00|  2020-01-23 10:33:00|              null|      null|         101|         203|           null|         4.88|      28.74| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       31.79|        null|     null|                null|
|       2| 2020-01-12 17:30:50|  2020-01-12 17:34:31|                 N|         1|          74|          74|              1|         0.34|        4.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.3|           2|        1|                 0.0|
|       2| 2020-01-27 19:33:09|  2020-01-27 19:40:47|                 N|         1|         134|         135|              5|         1.59|        7.5|  1.0|    0.5|      2.79|         0.0|     null|                  0.3|       12.09|           1|        1|                 0.0|
|       2| 2020-01-24 21:25:12|  2020-01-24 21:27:41|                 N|         1|          42|          42|              1|         0.74|        4.5|  0.5|    0.5|      1.45|         0.0|     null|                  0.3|        7.25|           1|        1|                 0.0|
|       2| 2020-01-04 17:06:40|  2020-01-04 17:23:26|                 N|         1|          82|         223|              2|         4.34|       15.5|  0.0|    0.5|      3.26|         0.0|     null|                  0.3|       19.56|           1|        1|                 0.0|
|    null| 2020-01-07 05:46:00|  2020-01-07 06:09:00|              null|      null|         222|          80|           null|         5.74|      26.33| 2.75|    0.5|       0.0|         0.0|     null|                  0.3|       29.88|        null|     null|                null|
|    null| 2020-01-08 17:18:00|  2020-01-08 17:51:00|              null|      null|         226|         167|           null|          6.5|       21.5|  0.0|    0.0|       0.0|        6.12|     null|                  0.3|       27.92|        null|     null|                null|
|       2| 2020-01-03 15:02:31|  2020-01-03 15:10:40|                 N|         1|          41|          42|              1|         0.98|        6.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         7.3|           2|        1|                 0.0|
|       2| 2020-01-07 06:44:09|  2020-01-07 07:00:49|                 N|         1|          42|         151|              1|         2.65|       11.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        12.3|           2|        1|                 0.0|
|    null| 2020-01-03 13:30:00|  2020-01-03 13:49:00|              null|      null|         181|          17|           null|         2.68|      13.02|  0.0|    0.0|       0.0|         0.0|     null|                  0.3|       13.32|        null|     null|                null|
|       1| 2020-01-14 14:23:30|  2020-01-14 14:24:26|                 N|         1|         181|         181|              1|          0.0|        2.5|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         3.3|           4|        1|                 0.0|
|    null| 2020-01-19 22:11:00|  2020-01-19 23:00:00|              null|      null|         142|          76|           null|        10.55|      44.64| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|       47.69|        null|     null|                null|
|    null| 2020-01-03 09:30:00|  2020-01-03 09:55:00|              null|      null|         177|          25|           null|         5.25|      25.95| 2.75|    0.0|       0.0|         0.0|     null|                  0.3|        29.0|        null|     null|                null|
|       2| 2020-01-08 10:41:32|  2020-01-08 11:02:04|                 N|         1|          95|         205|              2|         6.35|       21.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|        21.8|           2|        1|                 0.0|
|       2| 2020-01-27 23:39:43|  2020-01-27 23:54:21|                 N|         1|         166|         236|              1|          3.5|       13.5|  0.5|    0.5|       0.0|         0.0|     null|                  0.3|       17.55|           2|        1|                2.75|
|       2| 2020-01-29 20:00:42|  2020-01-29 20:08:36|                 N|         1|          65|          87|              1|         2.04|        8.5|  0.5|    0.5|      2.51|         0.0|     null|                  0.3|       15.06|           1|        1|                2.75|
|       1| 2020-01-25 22:35:32|  2020-01-25 22:50:11|                 N|         1|         255|         148|              1|          2.8|       12.5| 3.25|    0.5|       3.3|         0.0|     null|                  0.3|       19.85|           1|        1|                2.75|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [5]:
df.count()

2304517